.nav-logo {
  width: 140px;
}

/* .hero-section {
  background: url(/images/beautiful-landscape-high-angle.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  mask-mode: luminance;
} */
